<!DOCTYPE html>

{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</head>
<body>
    <header><h1>Hydro</h1></header>
    <section>
    {% if plot_list %}
        {% for plot in plot_list %}
        <article>
            <div class="PlotBox">
             <a href="/Hydro/{{ plot.id }}/plotmod/"><h3>Plot ID: {{ plot.id }}</h3></a><br>
                Light Status: {% if plot.lights_on == True %} <img src="{% static 'icons_lights_green.png' %}">
                {% elif plot.lights_on == False %}<img src="{% static 'icons_lights_red.png' %}"> {% endif %}
                {% if plot.plot_comments != "" %}
                <br>Plot Comments: {{ plot.plot_comments }}
                {% endif %}
                <ul class="ReservoirList">
                    {% for reservoir in plot.reservoir_set.all %}
                    <li class="Reservoir ID"><a href="/Hydro/{{ reservoir.id }}/resmod/">Reservoir ID: {{ reservoir.id }}</a></li>
                        <ul class="ReservoirDetails">
                            {% if reservoir.current_ph != 0 %}
                            <li id="current_ph">Current pH: {{ reservoir.current_ph }}</li>
                            {% endif %}
                            {% if reservoir.current_ppm != 0 %}
                            <li id=current_ppm">Current PPM: {{ reservoir.current_ppm }}</li>
                            {% endif %}
                            {% if reservoir.current_temp != 0 %}
                            <li id="current_temp">Current Room Temp: {{ plot.current_temp }}</li>
                            {% endif %}
                        </ul>
                    {% endfor %}
                </ul>
            </div>
        </article>
        {% endfor %}
        {% else %}
        <strong>There are no plots yet.</strong>
    {% endif %}
    </section>
</body>
</html>