<!DOCTYPE html>

{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
</head>
<body>
    <header><h1>HydroPynix!!</h1></header>
    {% if plot_list %}
        {% for plot in plot_list %}
        <div class="PlotBox">
         <span class="PlotID">Plot ID:</span> {{ plot.id }}<br>
            <ul>
                {% for reservoir in plot.reservoir_set.all %}
                <li class="Reservoir ID"><a href="/Hydro/{{ plot.id }}/details/">Reservoir ID: {{ reservoir.id }}</a></li>
                    <ul class="ReservoirDetails">
                        {% if reservoir.current_ph != 0 %}
                        <li>Current pH: {{ reservoir.current_ph }}</li>
                        {% endif %}
                        {% if reservoir.current_ppm != 0 %}
                        <li>Current PPM: {{ reservoir.current_ppm }}</li>
                        {% endif %}
                        {% if reservoir.current_temp != 0 %}
                        <li>Current Room Temp: {{ plot.current_temp }}</li>
                        {% endif %}
                    </ul>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        {% else %}
        <strong>There are no plots yet.</strong>
    {% endif %}
</body>
</html>