<!DOCTYPE html>

{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        var request = new XMLHttpRequest();

{#        function alertStatus(el_id) {#}
{#            document.getElementsByClassName("PlotBox").classList.add("RedAlert")#}
{#        }#}

        drawData = function(data) {
            {#        var data_field = document.getElementById("Reservoir_Details");#}
            for (var i = 0; i < data.length; i++) {
                var item = data[i];
                var stat_field = document.getElementById("current_ph");
                stat_field.innerHTML = item.current_ph;
            }
        }

        function onRequestChange() {
            if ((request.readyState == 4) && (request.status == 200)){
                var data = JSON.parse(request.responseText);
                drawData(data)
        }
        function fetchData() {
            request.onreadystatechange = onRequestChange();
            request.open("GET", "{% static 'hydro.json' %}", true);
            request.send()
        }
    setTimeout(drawData, 1000);
    setTimeout(fetchData, 1000);
    </script>
    <script src ="{% static angular.js %}"></script>
</head>
<body>
    <header><h1>Hydro</h1></header>
    <section class="container" ng-app="myApp" ng-controller="plotCtrl">'
        <div>
        <article id="PlotBox">
         <a href="/Hydro/{{plot.id}}/plotmod/"><h3>Plot ID: {{plot.id}}</h3></a><br>
            Light Status:<img src="{% static 'icons_lights_red.png' %}">
            <br>Current Temperature: {{ plot.current_temp }}
            <br>Plot Comments: {{plot.plot_comments}}
            <ul class="ReservoirList">
                <li class="Reservoir_ID"><a href="/Hydro/{{ reservoir.id }}/resmod/">Reservoir ID: {{ reservoir.id }}</a></li>
                    <ul class="ReservoirDetails">
                        <li id="current_ph">Current pH: {{ reservoir.current_ph }}</li>
                        <li id=current_ppm">Current PPM: {{ reservoir.current_ppm }}</li>
                    </ul>
            </ul>
        </article>
        </div>
        <strong>There are no plots yet.</strong>
    </section>
</body>
</html>