<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="/Hydra/add_sensor/{{ res_id }}/" method="POST">
        {% csrf_token %}
        <label for="type">Sensor Type</label>
        <select name="type">
            <option value="ph">pH Sensor</option>
            <option value="ppm">PPM Sensor</option>
            <option value="temp">Temperature</option>
            <option value="humid">Humidity</option>
        </select>
        <label for="pin">Pin location: </label>
        <input name="pin" id="pin" type="text">
        <input type="hidden" name="res" value="{{ res_id }}">
        <input type="submit" value="Add">
    </form>
</body>
</html>