<!DOCTYPE html>

{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        var request = new XMLHttpRequest();

        function alertStatus(el_id) {
            document.getElementById(el_id).classList.add("Alert");
        }

        function onRequestChange() {
            if ((request.readyState == 4) && (request.status == 200)){
                var data = JSON.parse(request.responseText);
                alertStatus(data[""])
            }

            function fetchData() {
                request.onreadystatechange = onRequestChange();
                request.open("GET", {% static 'hydro.json' %});
            }
        }

    </script>
    <script>
</script>
</head>
<body>
    <header><h1>Hydro</h1></header>
    <div>Future Nav Bar goes here! <a href="{% static '/Hydra/add_plot/' %}">Add Plot Zone</a></div>
    <section>
    {% if plot_list %}
        {% for plot in plot_list %}
        <article class="PlotBox">
            <div class="PlotBox">
             <a href="/Hydro/{{ plot.id }}/plotmod/"><h3>Plot ID: {{ plot.id }}</h3></a>
                <a href="/Hydro/{{ plot.id }}/add_res/"><span class="add_res">Add Reservoir</span></a><br>
                Light Status: {% if plot.lights_on == True %} <img src="{% static 'icons_lights_green.png' %}">
                {% elif plot.lights_on == False %}<img src="{% static 'icons_lights_red.png' %}"> {% endif %}
                {% if plot.current_temp != 0 %}
                <br>Current Temperature: {{ plot.current_temp }}
                {% endif %}
                {% if plot.plot_comments != "" %}
                <br>Plot Comments: {{ plot.plot_comments }}
                {% endif %}
                <ul class="ReservoirList">
                    {% for reservoir in plot.reservoir_set.all %}
                    <li class="Reservoir_ID"><a href="/Hydro/{{ reservoir.id }}/resmod/">Reservoir ID: {{ reservoir.id }}</a></li>
                        <ul class="ReservoirDetails">
                            {% if reservoir.current_ph != 0 %}
                            <li id="current_ph">Current pH: {{ reservoir.current_ph }}</li>
                            {% endif %}
                            {% if reservoir.current_ppm != 0 %}
                            <li id=current_ppm">Current PPM: {{ reservoir.current_ppm }}</li>
                            {% endif %}
                        </ul>
                    {% endfor %}
                </ul>
            </div>
        </article>
        {% endfor %}
        {% else %}
        <strong>There are no plots yet.</strong>
    {% endif %}
    </section>
</body>
</html>