<!DOCTYPE html>

{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>

        var request = new XMLHttpRequest();
        var draw = function(data) {
            var plot_personal_id = 1;
            for (var p = 0; p < data['plot_list'].length; p++) {
                var plot = data['plot_list'][p];
                var plotElement = document.createElement("article");
                var res_list = data['res_list'];
                var resList = document.createElement("ul");
                var res_personal_id = 1;
                var plotUrl = document.createElement("a");
                plotElement.addEventListener("mouseover", function () {
                    this.classList.add('PlotMouseOver');
                });
                plotElement.addEventListener("mouseout", function () {
                    this.classList.remove('PlotMouseOver');
                });
                plotElement.classList.add('PlotBox');
                plotUrl.setAttribute("href", ("/Hydra/" + plot.id + "/plotmod/"));
                plotUrl.innerHTML = "Plot ID: " + plot_personal_id;
                plotElement.appendChild(plotUrl);
                plotElement.appendChild(resList);
                plot_personal_id++;
                for (var r = 0; r < data['res_list'].length; r++) {
                    var res = res_list[r];
                    var res_ul = document.createElement('ul');
                    plotElement.appendChild(res_ul);
                    if (res.plot == plot.id) {
                        var resUrl = document.createElement("a");
                        var res_li_ph = document.createElement("li");
                        var res_li_ppm = document.createElement("li");
                        var br = document.createElement("br");
                        resUrl.setAttribute("href", ("/Hydra/" + res.id + "/resmod/"));
                        resUrl.innerHTML = "Reservoir ID: " + res_personal_id;
                        res_li_ph.innerHTML = "Current pH: " + res.current_ph;
                        res_li_ppm.innerHTML = "Current PPM: " + res.current_ppm;
                        resList.appendChild(resUrl);
                        resList.appendChild(res_ul);
                        resList.appendChild(br);
                        res_ul.appendChild(res_li_ph);
                        res_ul.appendChild(res_li_ppm);
                        res_personal_id++;
                    }
                }

                document.getElementById('plotDiv').appendChild(plotElement);
            }
        };

        var onRequestChange = function() {
            if ((request.readyState == 4) && (request.status == 200)) {
                var data = JSON.parse(request.responseText);
                draw(data);
            }
        };

        var grabData = function () {
            request.onreadystatechange = onRequestChange;
            request.open("GET", "/Hydra/data_grab/", true);
            request.send();
        };
        setTimeout(grabData, 0);
    </script>
    <script>
        $( 'li.logIn').click(function(e){
            $( this).parent().find('#logInDiv').toggle();
        });
    </script>
    <header>HydrA</header>
    <br>
    <div id="menuWrap">
        <ul id="menuBar">
            <li class="menuItem" id="plotPage">Plot List</li>
            <li class="menuItem" id="addPlot">Add Plot</li>
            <li class="menuItem" id="logOut">Log Out</li>
            <li class="menuItem" id="logIn">Log In
                <div id="logInDiv">adsfasdf</div>
            </li>
            <li class="menuItem" id="changeInfo">Change Personal Info</li>
        </ul>
    </div>
    <div id="plotDiv"></div>
</body>
</html>