<!DOCTYPE html>

{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <script>
        $(document).ready(function () {
            $('#resForm').ajaxForm(function () {
                alert("Reservoir added!");
            });
            $('plotForm').ajaxForm(function () {
                alert("Plot added!");
            });
            $('modResForm').ajaxForm(function () {
                alert("Reservoir modified!");
            })
        });
    </script>
</head>
<body>

<header>HydrA</header>
<div class="col-sm-2" id="menuWrap">
    <ul id="menuBar">
        <li id="plotPage">Plot List</li>
        <li id="addPlot">Add Plot</li>
        <li id="addReservoir" onclick="pause()">Add Reservoir</li>
        <li id="logOut"><a href="/Hydra/logout/">Logout</a></li>
        <li id="logIn">Log In</li>
        <li id="changeInfo">Change Personal Info</li>
        <div id="logInDiv">
            <form action="/Hydra/login/" method="POST">
                {% csrf_token %}
                <label for="username">Username: </label>
                <input name="username" id="username" type="text">
                <label for="password">Password: </label>
                <input name="password" id="password" type="password">
                <input type="submit" value="Login">
            </form>
        </div>
        <article class="PlotBox col-sm-3" id="addResDiv">
            <form id="resForm" action="/Hydra/add_res/" method="POST">
                {% csrf_token %}
                <label for="plot">Plot: </label>
                <select id="plotDropDown" name="plot" class="input-small">
                </select>
                <label for="goal_ph_low">pH Lower Limit: </label>
                <input id="goal_ph_low" name="goal_ph_low" type="number" step=".1">
                <label for="goal_ph_high">pH Upper Limit: </label>
                <input id="goal_ph_high" name="goal_ph_high" type="number" step=".1">
                <label for="goal_ppm">Goal PPM: </label>
                <input id="goal_ppm" name="goal_ppm" type="number">
                <input type="submit" onclick="javascript:resume()" value="Add Reservoir">
            </form>
        </article>
        <article class="PlotBox col-sm-3" id="addPlotDiv">
            <form action="/Hydra/add_plot/" method="POST">
                {% csrf_token %}
                <label for="light_start">Lights Start Time: </label>
                <input id="light_start" name="light_start" type="time">
                <label for="light_stop">Lights Stop Time: </label>
                <input id="light_stop" name="light_stop" type="time">
                <label for="goal_temp">Goal Temperature: </label>
                <input id="goal_temp" name="goal_temp" type="number" min="0" max="120">
                <label for="goal_humid">Goal Humidity: </label>
                <input id="goal_humid" name="goal_humid" type="number" min="0" max="100">
                <input type="submit" value="Create Plot">
            </form>
        </article>
        <article class="PlotBox col-sm-3" id="modResArt">
            <form class="input-small" action="/Hydra/{{ res_id }}/resmod/" method="POST" id="modResForm">
                {% csrf_token %}
                <label for="goalLowpH">Lower pH Limit:</label>
                <input type="number" step=".1" id="goalLowpH">
                <label for="goalHighpH">Upper pH Limit:</label>
                <input type="number" step=".1" id="goalHighpH">
                <label for="goalPPM">Goal PPM:</label>
                <input type="number" name="goalPPM" id="goalPPM">
                <label for="ppmTolerance">PPM Tolerance:</label>
                <input id="ppmTolerance" name="ppmTolerance" type="number">
                <input type="submit" value="Save">
            </form>
        </article>

    </ul>
</div>
<br>
{#    <h1>{{ message }}</h1>#}


<div class="col-sm-9" id="plotDiv"></div>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script>
    var t = 0;
    var request = new XMLHttpRequest();
    var greenSrc = '{% static 'icons_lights_green.png' %}';
    var redSrc = '{% static 'icons_lights_red.png' %}';
    {#        document.getElementById('plotDropDown').innerHTML = "";#}
    var draw = function (data) {
        var plotPersonalID = 1;
        var plotDropDown = document.getElementById('plotDropDown');
        plotDropDown.innerHTML = "";
        document.getElementById('plotDiv').innerHTML = "";
        for (var p = 0; p < data['plot_list'].length; p++) {
            var plot = data['plot_list'][p];
            var plotElement = document.createElement("article");
            var resList = data['res_list'];
            var plotResUL = document.createElement("ul");
            var resPersonalID = 1;
            var plotUrl = document.createElement("a");
            var greenLight = document.createElement("img");
            var redLight = document.createElement("img");
            var plotLILights = document.createElement("span");
            var plotDetails = document.createElement("div");
            var plotOption = document.createElement("option");
            var delPlot = document.createElement("a");
            var br = document.createElement("br");
            var brCln = br.cloneNode(true);
            plotResUL.classList.add('col-md-5');
            delPlot.innerHTML = "Delete this plot";
            delPlot.setAttribute("href", "/Hydra/delete_plot/" + plot.id);
            delPlot.setAttribute("onclick", "return confirm('Are you sure you want to delete this?');");
            plotOption.innerHTML = plotPersonalID;
            plotOption.value = plot.id;
            plotOption.classList.add('col-md-2');
            plotDropDown.appendChild(plotOption);
            plotDetails.id = "plotDetails";
            greenLight.setAttribute("src", greenSrc);
            redLight.setAttribute("src", redSrc);
            plotElement.classList.add('col-md-4');
            if (plot.alert_status == true) {
                plotElement.classList.add('plotAlert');
                plotElement.addEventListener("mouseover", function () {
                    this.classList.add('plotAlertMouseover');
                });
                plotElement.addEventListener("mouseout", function () {
                    this.classList.remove('plotAlertMouseover');
                });
            } else {
                plotElement.classList.add('PlotBox');
                plotElement.addEventListener("mouseover", function () {
                    this.classList.add('plotMouseOver');
                });
                plotElement.addEventListener("mouseout", function () {
                    this.classList.remove('plotMouseOver');
                });
            }
            plotUrl.setAttribute("href", ("/Hydra/" + plot.id + "/plotmod/"));
            plotUrl.innerHTML = "Plot ID: " + plotPersonalID;
            plotElement.appendChild(plotDetails);
            plotDetails.appendChild(plotUrl);
            plotDetails.appendChild(brCln);
            plotDetails.appendChild(delPlot);
            var anotherBr = document.createElement("br");
            plotDetails.appendChild(anotherBr);
            plotDetails.appendChild(plotLILights);
            plotDetails.appendChild(plotResUL);
            plotResUL.classList.add('list-unstyled');
            if (plot.light_status == true) {
                plotLILights.innerHTML = "<br> Light Status: ";
                plotLILights.appendChild(greenLight);
            } else {
                plotLILights.innerHTML = "<br> Light Status: ";
                plotLILights.appendChild(redLight);
            }
            plotPersonalID++;
            for (var r = 0; r < resList.length; r++) {
                var res = resList[r];
                var resUL = document.createElement('dl');
                resUL.classList.add('dl-horizontal');
                plotElement.appendChild(resUL);
                if (res.plot == plot.id) {
                    var resUrl = document.createElement("dt");
                    var resLIpH = document.createElement("dt");
                    var resLIPPM = document.createElement("dt");
                    {#                        var br = document.createElement("br");#}
                    var resATag = document.createElement("a");
                    var stat_pH = document.createElement("dd");
                    var stat_ppm = document.createElement("dd");
                    var delRes = document.createElement("a");
                    delRes.innerHTML = "Delete Reservoir";
                    delRes.setAttribute("onclick", "return confirm('Are you sure you want to delete this?');");
                    delRes.setAttribute("href", "/Hydra/del_res/" + res.id);
                    resATag.innerHTML = "<br>Reservoir ID: " + resPersonalID;
                    resUrl.appendChild(resATag);
                    resATag.setAttribute("res_id", res.id);
                    resATag.addEventListener("click", function(event){
                        var res_id = event.target.getAttribute("res_id");
                        var resSubmit = "/Hydra/" + res_id + "/resmod/";
                        var modResForm = document.getElementById("modResForm");
                        modResForm.setAttribute("action", resSubmit);
                        $('#modResArt').toggle('slow');
                    });
                    resLIpH.innerHTML = "Current pH:";
                    var curpH = document.createElement("span");
                    curpH.innerHTML = res.current_ph;
                    stat_pH.appendChild(curpH);
                    resLIPPM.innerHTML = "Current PPM: ";
                    stat_ppm.innerHTML = res.current_ppm;
                    plotResUL.appendChild(resUrl);
                    plotResUL.appendChild(delRes);
                    plotResUL.appendChild(resUL);
                    plotResUL.appendChild(br);
                    resUL.appendChild(resLIpH);
                    resUL.appendChild(stat_pH);
                    resUL.appendChild(resLIPPM);
                    resUL.appendChild(stat_ppm);
                    if (res.current_ph < res.goal_ph_low) {
                        stat_pH.classList.add('phBad');
                        var dnArrow = document.createElement("span");
                        dnArrow.innerHTML = "&darr;";
                        stat_pH.style.fontWeight = "bold";
                        stat_pH.insertBefore(dnArrow, curpH);
                    } else if (res.current_ph > res.goal_ph_high) {
                        stat_pH.classList.add('phBad');
                        var upArrow = document.createElement("span");
                        upArrow.innerHTML = "&uarr;";
                        stat_pH.style.fontWeight = "bold";
                        stat_pH.insertBefore(upArrow, curpH);
                    }
                    resPersonalID++;
                }
            }

            document.getElementById('plotDiv').appendChild(plotElement);
            clearTimeout(window.st);
            window.st = setTimeout(grabData, 1000);
        }
    };


    var onRequestChange = function () {
        if ((request.readyState == 4) && (request.status == 200)) {
            var data = JSON.parse(request.responseText);
            draw(data);
        }
    };

    var grabData = function () {
        request.onreadystatechange = onRequestChange;
        request.open("GET", "/Hydra/data_grab/", true);
        request.send();
    };
    function pause() {
        clearTimeout(window.st);
    }
    function resume() {
        window.st = setTimeout(grabData, 1000);
    }
    $("li[id='addReservoir']").click(function () {
        pause();
        $("#addResDiv").toggle('slow');
    });

    grabData()
</script>
<script>
    {#        forms#}
    $("li[id='logIn']").click(function () {
        $("#logInDiv").toggle('slow');
    });
    $("li[id='addPlot']").click(function () {
        $("#addPlotDiv").toggle('slow');
    });
</script>
</body>
</html>
