<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h2>{{ user.first_name }}, the following items need your attention:</h2>
    <h3>Problem Plots</h3>
    <ul>
        {% for plot in plot_list %}
            <li>Plot: {{ plot.id }} has a problem.</li>
            <ul>
                <li>Light Status: {% if plot.lights == 1 %}Good{% else %}BAD{% endif %}</li>
                <li>Temperature: {{ plot.temp }}</li>
                <li>Humidity: {{ plot.humid }}</li>
            </ul>
        {% endfor %}
    </ul>
    <h3>Problem Reservoirs</h3>
    <ul>
        {% for res in res_list %}
            <li>Reservoir: {{ res.id }} has a problem.</li>
            <ul>
                {% if res.ph != 0 %}
                <li>Current pH: {{ res.ph }}</li>
                {% endif %}
                {% if res.ppm != 0 %}
                <li>Current PPM: {{ res.ppm }}</li>
                {% endif %}
            </ul>
        {% endfor %}
    </ul>


</body>
</html>