div .PlotBox{
    position:relative;
    /*width:50%;*/
    height:50%;
    background: radial-gradient(red 5%, green 15%, blue 60%);
    color:gold;
    font-weight:bold;
}

ul .ReservoirDetails {
    background-color: slategrey;
    border-style: outset;
    border-color: #3c763d;
    text-align:right;
    width:80%;
    margin: 0;
    box-shadow: 3px;
}

h1 {
    text-align:center;
    font-weight:bold;
    font-style:italic;
    background-color: forestgreen;
}

body{
    background-color: sienna;
}
div .current_stats {

    color: blue;
    font-weight: bold;
    text-align: left;
}

.mod_stats {
    text-align: left;
}

form label {
    background-color: #204d74;
    position: relative;
    text-align: left;
}

a:visited {
    color: green;
}

a:link {
    color: #c0a16b;
    font-weight: bold;
}
article {
    width: 40%;
    background: linear-gradient(125deg, darkgreen, forestgreen);
    border-radius: 0px 20px 30px 40px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
}

li {
    display: inline-block;
    width: 50%;
}