.add_res {
    font-size: 10px;
}

.ReservoirList {
    width: inherit;
    height: 40%;
    text-align: right;
    display: block;
    padding: 1em;
    margin: 1em;
}

ul .ReservoirDetails {
    background-color: slategrey;
    border-style: outset;
    border-color: #3c763d;
    /*text-align:right;*/
    display: inline-block;
    margin: 1em;
    box-shadow: 3px;
}

section {
    display: block;
}

header {
    text-align:center;
    font-weight:bold;
    font-style:italic;
    background-color: forestgreen;
}

body{
    /*background: linear-gradient(90deg, mediumblue, darkblue, dodgerblue);*/
    font-family: sans-serif;
    align-content: center;
}
div .current_stats {

    color: blue;
    font-weight: bold;
    text-align: left;
}

.mod_stats {
    text-align: left;
}

form label {
    background-color: #204d74;
    position: relative;
    text-align: left;
}


a {
    text-decoration: none;
}


.PlotBox {
    width: auto;
    background: linear-gradient(100deg, darkgreen, forestgreen);
    border-radius: 5px 100px 0 125px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
    display: inline-table;
    height: 100%;
    box-shadow: 10px 10px 10px black;
}

.plotMouseOver {
    background: linear-gradient(280deg, darkgreen, green);
}

.Reservoir_ID {
    text-align: left;
}

.plotAlert {
    border-radius: 5px 100px 0px 125px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
    display: inline-table;
    background: linear-gradient(280deg, red, darkred);
    box-shadow: 10px 10px 10px darkblue;
}

.plotAlertMouseover {
    background: linear-gradient(100deg, red, darkred);
}

.plotDetails{
    margin: 1em;
}

.PlotBox {
    max-width: 90%;
    overflow: hidden;
    margin: 1em;
    padding: 1em;
    box-shadow: 10px 10px 10px black;
}

#menuBar {
    /*align-content: center;*/
}

#menuBar div {
    /*text-align: center;*/
    /*display: none;*/
}

#menuBar li {
    display: inline;
    margin: 2em;
    text-align: center;
    background: linear-gradient(180deg, darkred, grey);
    border-radius: 15px;
    width: auto;
    height: auto;
}

#logInDiv {
    display: none;
    width: auto;
    height: auto;
}


.resAlert {
    background-color: yellow;
    opacity: .9;
    border-radius: 10px;
    padding: 3px;
}

#addResDiv {
    display: none;
    z-index: 10;
    position: relative;
    /*width: 50%;*/
}

.plotResUL {
    display: table;
}

#menuWrap {
    z-index: 10;
    /*text-align: center;*/
    /*align-content: center;*/
    position: relative;
}

#plotDiv {
    z-index: 1;
    position: relative;
}


#addPlotDiv {
    display: none;
}

.form-control {
    min-width: 0;
}

.phBad {
    color: red;
}