div .PlotBox{
    position:relative;
    /*width:50%;*/
    height:50%;
    background-color:darkgreen;
    color:gold;
    font-weight:bold;
}

ul .ReservoirDetails {
    background-color: slategrey;
    color:darkred;
    text-align:right;
    width:80%;
    box-shadow: 0 0 0 3px;
}

h1 {
    text-align:center;
    font-weight:bold;
    font-style:italic;
    background-color: darkred;
}

body{
    background-color: dimgray;
}

div .current_stats {
    color: #000000;
    font-weight: bold;
    text-align: left;
}

.mod_stats {
    text-align: left;
}

form label {
    background-color: #204d74;
    position: relative;
    text-align: left;
}

a:visited {
    color: green;
}

a:link {
    color: #c0a16b;
    font-weight: bold;
}
article {
    width: 40%;
    background-color: #444444 ;
    border-radius: 0px 20px 30px 40px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
}